
build/article.aux
build/article.aux
build/article.log
build/article.aux
build/article.pdf
build/article.aux
build/article.log
build/objekter.png
build/article.aux
build/article.log
build/main.docx
build/article.log
build/article.aux
